:root {
    --theme: "🌙 Midnight";

    --bg: #0c0c0c;
    --accent-bg: #5c5c5c13;
    --darker-bg: #00000018;
    --text: #ffffff;
    --text-light: #ffffffd8;
    --border: #ffffff00;
    --accent: #7c70e7;
    --accent-light: #7270e777;
    --code: #6b62f0;
    --preformatted: #ccc;
    --marked: #978cffa1;
    --disabled: #111;
    --gradient-accent: linear-gradient(90deg, #6b62f0 0%, #7270e7 50%, #7c70e7 100%)
}

html {
    font-family: system-ui;
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background-color: var(--bg);
    margin: 1rem;
}

/* Title */
h1 {
    margin-top: 0;
}

/* Logo */
h1 img {
    margin-bottom: -25px;
    height: 75px;
}

/* Version number */
h1 span#muse-version {
    opacity: 0.5;
}

/* Search field */
#search {
    color: var(--text);
    border: 0;
    padding: 1rem;
    font-size: large;
    background-color: var(--accent-bg);
    border: none;
    outline: none;
    width: 80vw;
    border-radius: 10px;
}

#search:hover {
    opacity: 0.9;
}

/* Small technical info */
p.details {
    margin-top: 1rem;
    font-size: small
}

p.details span {
    opacity: 0.5;
}