<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MUSE</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../styles/base.css">
</head>
<body>
    <h1><img src="../assets/logo.png"> MUSE <span id="muse-version">a</span></h1>
    
    <form method="get" action="/search">
        <input name="search" id="search" type="text" placeholder="Search..." autofocus>
    </form>
    
    <p class="details">Node.js <span id="node-version"></span> Chromium <span id="chrome-version"></span> Electron <span id="electron-version"></span></p>
</body>
</html>